
header{
    position: absolute;
    width: 100%;
    z-index: 100;
}

.navFather{
    background-color: none;
    display: flex;
    justify-content: center;

}

.navChild{
    margin-top: 20px;
    display: inline-block;
    width: 9%;
    padding: 27px 0;
    margin-left: 10px;
    margin-right: 10px;
    
    font-size: 18px;
    color:#ddd;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.4s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
} 

.navChild:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 10px;
    transition-duration: 0.4s;
}

.navBtn{
    color: #fff;
    background: none;
    display: inline-block;
    padding: 29.5px 0;
    border: none;
    display: none;

    font-size: 18px;
    text-decoration: none;
    text-align: left;
    padding-left: 27px;
}

@media (max-width: 768px){

    nav{
        flex-direction: column;
        background-image: linear-gradient(225deg, #2477a7 0%, #3cb893 100%);
    }

    .navChild{
        display: inline-block;
        width: auto;
        padding: 20px 0;
        transition-duration: 0s;
        color: #fff;
    }

    a:last-child{
        margin-bottom: 40px;
    }

    .navChild:hover{
        background: rgb(84, 187, 187);

        padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: none;
        transition-duration: 0.2s;
    }

    .navBtn{
        display: inline-block;
    }

    .hide{
        display: none;
    }
 
}